.panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel-c {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}